<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="logstyle.css">
    <!-- All the files that are required -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta charset="utf-8">
    <title>buyticket</title>
  </head>
  <body>
    <div class="text-center" style="padding:50px 0">
      <div class="right">
        <img src="buyticket.jpg" alt="" height="150px" width="278px;" style="border-radius:10px;">
      </div>
      <div>
    	<div class="logo">Buy Ticket</div>
    	<!-- Main Form -->
    	<div class="login-form-1">
    		<form id="buy-form" class="text-left" method = "post">
    			<div class="login-form-main-message"></div>
    			<div class="main-login-form">
    				<div class="login-group">
    					<div class="form-group">
    						<label for="lg_username" class="sr-only">Movie name</label>
    						<input type="text" class="form-control"  name="mname" placeholder="Movie Name" required>
    					</div>
              <div class="form-group">
                <label for="lg_password" class="sr-only"></label>
                <input type="time" class="form-control"  name="mtime" placeholder="Start Time" required >
              </div>
              <div class="form-group">
                <label for="lg_password" class="sr-only"></label>
                <input type="date" class="form-control"  name="mdate" placeholder="date" required >
              </div>
    					<div class="form-group">
    						<label for="lg_password" class="sr-only"></label>
    						<input type="number" class="form-control"  name="quantity" placeholder="quantity" required >
    					</div>
    					<!-- <div class="form-group login-group-checkbox">
    						<input type="checkbox" id="lg_remember" name="lg_remember">
    						<label for="lg_remember">remember</label>
    					</div> -->
    				</div>
    				<button type="submit" class="login-button" ><i class="fa fa-chevron-right"></i></button>
    			</div>

    		</form>
    	</div>
    	<!-- end:Main Form -->
    </div>

    <!-- REGISTRATION FORM -->


    <!-- FORGOT PASSWORD FORM -->

    <script type="text/javascript" src="buy.js">

    </script>
  </body>
</html>


<!-- Where all the magic happens -->
<!-- LOGIN FORM -->
